.slider-box--container {
    padding: .7rem 0;
}
.slider-box--justify-info {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin: .6rem 0;
}
.slider-box--input {
    border-color: var(--main-font-color);
    background-color: var(--main-backround-color);
    color: var(--main-font-color);
    padding: .5rem;
    border-style: groove;
    border-width: 1px;
    font-weight: 800;
    font-size: 1rem;
    width: 6rem;
}
.slider-box--justify-selector {
    padding: 0 3.5rem;
}