.App {
  /* text-align: center; */
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
}
:root {
  /* setting of the common variables  */
  
  /* containers */
  --main-backround-color: #05497A; 
  --framework-bakground-color: #003B67;
  
  /* buttons */
  --primary-button-color: #17AA8D;
  --secondary-button-color: #0B548B;
  
  /* text-related stuff */
  --result-text-color: #00355D;
  --main-font-color: #fff;
}



